<h5 class="modal-title">Bienvenido a Tundide</h5>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-block">
                <wizard #wizard [formGroup]="firstIncomeGroup">
                    <wizard-step stepTitle="Bienvenido">
                        <div class="jumbotron">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <h1 class="display-3">Hola {{user.name}}!</h1>
                                    <p class="lead">
                                        Vemos que este es tu primer ingreso, configuremos algunas cosas para que puedas usar todas nuestras funcionalidades.
                                    </p>
                                    <p class="lead">
                                        También puede hacerlo después solo debes oprimir el botón configurar luego.
                                    </p>
                                </div>
                            </div>

                            <div class="center-button">
                                <button type="button" class="btn btn-primary" (click)="configureLater()">Configurar luego</button>
                                <button type="button" class="btn btn-secondary" nextStep>Continuar</button>
                            </div>
                        </div>
                    </wizard-step>
                    <wizard-step stepTitle="Informacion general" formGroupName="user">
                        <div>

                            <div *ngIf="firstIncomeGroup.get('user.firstName').invalid && firstIncomeGroup.get('user.firstName').touched" class="alert alert-danger" role="alert">
                                El campo <strong>Nombre</strong>
                                <p *ngIf="firstIncomeGroup.get('user.firstName').errors?.required">
                                    &bull; Es obligatorio
                                </p>
                                <p *ngIf="firstIncomeGroup.get('user.firstName').errors?.maxlength">
                                    &bull; No puede superar los 20 digitos
                                </p>
                                <p *ngIf="firstIncomeGroup.get('user.firstName').errors?.minlength">
                                    &bull; Debe contener al menos 3 caracteres
                                </p>
                            </div>
                            <div *ngIf="firstIncomeGroup.get('user.lastName').invalid && firstIncomeGroup.get('user.lastName').touched" class="alert alert-danger" role="alert">
                                El campo <strong>Apellido</strong>
                                <p *ngIf="firstIncomeGroup.get('user.lastName').errors?.required">
                                    &bull; Es obligatorio
                                </p>
                                <p *ngIf="firstIncomeGroup.get('user.lastName').errors?.maxlength">
                                    &bull; No puede superar los 20 digitos
                                </p>
                                <p *ngIf="firstIncomeGroup.get('user.lastName').errors?.minlength">
                                    &bull; Debe contener al menos 3 caracteres
                                </p>
                            </div>
                            <fieldset class="form-group">
                                <legend>Datos Personales</legend>
                                <div class="row">

                                    <label for="inputfirstName" class="col-1 col-form-label col-form-label-sm">Nombre</label>

                                    <div class="col-5">
                                        <input type="text" formControlName="firstName" class="form-control form-control-sm" id="inputfirstName" aria-describedby="firstNameHelp" place-holder="Nombre" required>
                                    </div>

                                    <label for="inputlastName" class="col-1 col-form-label col-form-label-sm">Apellido</label>

                                    <div class="col-5">
                                        <input type="text" formControlName="lastName" class="form-control form-control-sm" id="inputlastName" aria-describedby="lastNameHelp" place-holder="Apellido" required>
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset class="form-group" formGroupName="location">
                                <legend>Datos Laborales</legend>
                                <div class="row">
                                    <label for="inputProvince" class="col-1 col-form-label col-form-label-sm">Provincia</label>
                                    <div class="col">
                                        <select id="inputProvince" formControlName="province" (change)="provinceUserChange($event)" name="province" class="form-control" required>
                                        <option *ngFor="let p of provinces" [ngValue]="p.code">{{p.description}}</option>
                                    </select>
                                    </div>
                                    <label for="inputPlace" class="col-1 col-form-label col-form-label-sm">Localidad</label>
                                    <div class="col">
                                        <ng-template #rt let-r="result" let-t="term">
                                            {{ r.description}} - ({{ r.zip}})
                                        </ng-template>
                                        <input id="inputPlace" formControlName="place" name="place" type="text" class="form-control" [editable]="false" [inputFormatter]="formatter" [resultTemplate]="rt" [ngbTypeahead]="searchUserLocation" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="inputStreet" class="col-1 col-form-label col-form-label-sm">Calle</label>
                                    <div class="col">
                                        <input id="inputStreet" type="text" formControlName="street" class="form-control form-control-sm" aria-describedby="streetHelp" place-holder="Calle" required>
                                    </div>

                                    <label for="inputNumber" class="col-1 col-form-label col-form-label-sm">Numero</label>
                                    <div class="col">
                                        <input id="inputNumber" type="number" formControlName="number" class="form-control form-control-sm" aria-describedby="numberHelp" place-holder="Numero" required>
                                    </div>

                                    <label for="inputFloor" class="col-1 col-form-label col-form-label-sm">Piso</label>
                                    <div class="col">
                                        <input id="inputFloor" type="text" formControlName="floor" class="form-control form-control-sm" aria-describedby="floorHelp" place-holder="Piso">
                                    </div>

                                    <label for="inputDepartment" class="col-1 col-form-label col-form-label-sm">Dpto</label>
                                    <div class="col">
                                        <input id="inputDepartment" type="text" formControlName="department" class="form-control form-control-sm" aria-describedby="departmentHelp" place-holder="Departmento">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="center-button">
                            <button type="button" class="btn btn-primary" previousStep>Anterior</button>
                            <button type="button" class="btn btn-secondary" nextStep>Siguiente</button>
                        </div>
                    </wizard-step>
                    <wizard-step stepTitle="Informacion de la empresa">

                        <fieldset class="form-group" formGroupName="company">
                            <legend>Contanos sobre tu empresa</legend>
                            <div class="row">
                                <label for="inputname" class="col-2 col-form-label col-form-label-sm">Nombre</label>

                                <div class="col-4">
                                    <input type="text" formControlName="name" class="form-control form-control-sm" id="inputname" aria-describedby="nameHelp" place-holder="Nombre" required>
                                </div>

                                <label for="inputdescription" class="col-2 col-form-label col-form-label-sm">Descripci&oacute;n</label>
                                <div class="col-4">
                                    <input type="text" formControlName="description" class="form-control form-control-sm" id="inputdescription" aria-describedby="descriptionHelp" place-holder="Descripcion" required>
                                </div>
                            </div>
                            <div class="row">
                                <label for="inputType" class="col-2 col-form-label col-form-label-sm">Tipo de empresa</label>
                                <div class="col-4">
                                    <select id="inputType" formControlName="type" name="type" class="form-control form-control-sm" required>
                                                        <option *ngFor="let t of types" [ngValue]="t.value">{{t.description}}</option>
                                                </select>
                                </div>
                            </div>
                        </fieldset>
                        <div class="center-button">
                            <button type="button" class="btn btn-primary" previousStep>Anterior</button>
                            <button type="button" class="btn btn-secondary" nextStep>Siguiente</button>
                        </div>
                    </wizard-step>
                    <wizard-step stepTitle="Ya casi terminamos">
                        <fieldset class="form-group">
                            <legend>Tenes sucursales? Agregalas aca para mejorar la gesti&oacute;n de turnos!</legend>
                            <div class="card-block" formArrayName="subsidiaries">
                                <table class="table">
                                    <thead>
                                        <tr class="d-flex">
                                            <th class="col-1">#</th>
                                            <th class="col-1">Codigo</th>
                                            <th class="col-2">Descripcion</th>
                                            <th class="col-2">Provincia</th>
                                            <th class="col-2">Localidad</th>
                                            <th class="col-2">Calle</th>
                                            <th class="col-1">Numero</th>
                                            <th class="col-1">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="d-flex" *ngFor="let subsidiary of firstIncomeGroup.controls.subsidiaries.controls; let i = index" [formGroupName]="i">
                                            <th class="col-1" scope="row">{{i+1}}</th>
                                            <td class="col-1">
                                                <input type="text" formControlName="code" class="form-control form-control-sm" id="inputcode" aria-describedby="nameHelp" place-holder="Codigo" required>
                                            </td>
                                            <td class="col-2">
                                                <input type="text" formControlName="description" class="form-control form-control-sm" id="inputdescription" aria-describedby="nameHelp" place-holder="Descripcion" required>
                                            </td>
                                            <td class="col-2" formGroupName="location">
                                                <select id="inputProvince" formControlName="province" (change)="provinceChange($event, i)" name="province" class="form-control form-control-sm" required>
                                                                <option *ngFor="let p of provinces" [ngValue]="p.code">{{p.description}}</option>
                                                            </select>
                                            </td>
                                            <td class="col-2" formGroupName="location">
                                                <ng-template #rt let-r="result" let-t="term">
                                                    {{ r.description}} - ({{ r.zip}})
                                                </ng-template>
                                                <input id="inputPlace" formControlName="place" name="place" type="text" class="form-control form-control-sm" [editable]="false" [inputFormatter]="formatter" [resultTemplate]="rt" [ngbTypeahead]="searchLocation(i)" required />
                                            </td>
                                            <td class="col-2" formGroupName="location">
                                                <input id="inputStreet" type="text" formControlName="street" class="form-control form-control-sm" aria-describedby="streetHelp" place-holder="Calle" required>
                                            </td>
                                            <td class="col-1" formGroupName="location">
                                                <input id="inputNumber" type="number" formControlName="number" class="form-control form-control-sm" aria-describedby="numberHelp" place-holder="Numero" required>
                                            </td>
                                            <td class="col-1"><button type="button" ngbTooltip="Eliminar sucursal" (click)="removeSubsidiary(i)" class="btn btn-secondary"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="8">
                                                <span>
                                                                <button type="button" ngbTooltip="Agregar sucursal" (click)="addSubsidiary(firstIncomeGroup.get('subsidiaries').controls)" class="btn btn-secondary"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nueva Sucursal</button>
                                                            </span>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </fieldset>
                        <div class="center-button">
                            <button type="button" class="btn btn-primary" previousStep>Anterior</button>
                            <button type="button" class="btn btn-secondary" endWizard (click)="close('Close click')">Finalizar</button>
                        </div>
                    </wizard-step>
                </wizard>
            </div>
        </div>
    </div>
</div>