<div class="form-group">
    <div class="card">
        <div class="card-block" *ngIf="propertyGroup" class="form-group" [formGroup]="propertyGroup">
            <h4 class="card-title">Ingresa fotos de tu Inmbueble</h4>
            <file-upload [class.errors]="images.hasError('*', ['dirty'])" [fileControl]="propertyGroup.controls.images"></file-upload>
            <div ngxErrors="images" #images="ngxErrors">
                <div class="error" ngxError="MinImages">
                    Al menos debe cargar una imagen
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Contanos como es el lugar</h4>
            <div *ngIf="propertyGroup" class="form-group" [formGroup]="propertyGroup">

                <label class="form-control-label" for="inputTitle">Titulo</label>
                <input type="text" name="title" [class.errors]="title.hasError('*', ['dirty'])" formControlName="title" class="form-control" />
                <div ngxErrors="title" #title="ngxErrors">
                    <div class="error" ngxError="required">
                        El Titulo es requerido
                    </div>
                    <div class="error" [ngxError]="['minlength', 'maxlength']">
                        El Titulo debe estar entre 5 y 50 digitos
                    </div>
                </div>
                <label class="form-control-label" for="inputTitle">Descripci&oacute;n</label>
                <ckeditor [class.errors]="description.hasError('*', ['dirty'])" debounce="500" name="description" formControlName="description" [config]="{removePlugins: 'forms, link, unlink, anchor, creatediv, insert, templates, newpage,save, preview, print, image, flash, horizontalrule, smiley, specialchar, pagebreak, iframe, about', removeButtons: 'Underline,JustifyCenter'}">
                </ckeditor>
                <div ngxErrors="description" #description="ngxErrors">
                    <div class="error" ngxError="required">
                        La Descripcion es requerida
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Ingresa la ubicaci&oacute;n</h4>
            <div class="row">
                <div class="col-md-6">
                    <div *ngIf="propertyGroup" class="form-group" [formGroup]="propertyGroup">
                        <div formGroupName="location">
                            <label for="inputProvince">Provincia</label>
                            <select id="inputProvince" [class.errors]="province.hasError('*', ['dirty'])" formControlName="province" name="province" class="form-control">
                                <option *ngFor="let p of provinces" [ngValue]="p.code">{{p.description}}</option>
                            </select>
                            <div ngxErrors="location.province" #province="ngxErrors">
                                <div class="error" ngxError="required">
                                    La Provincia es requerida
                                </div>
                            </div>

                            <label for="inputPlace">Localidad</label>

                            <select id="inputPlace" [class.errors]="place.hasError('*', ['dirty'])" [attr.disabled]="!propertyGroup.controls.location.controls.province.valid?'':null" formControlName="place" name="place" class="form-control">
                                <option *ngFor="let l of locations" [ngValue]="l.code">{{l.description}}</option>
                            </select>
                            <div ngxErrors="location.place" #place="ngxErrors">
                                <div class="error" ngxError="required">
                                    La Localidad es requerida
                                </div>
                            </div>
                            <label for="inputStreet">Calle</label>
                            <input type="text" [class.errors]="street.hasError('*', ['dirty'])" id="inputStreet" name="street" [attr.disabled]="!propertyGroup.controls.location.controls.place.valid?'':null" formControlName="street" class="form-control" />
                            <div ngxErrors="location.street" #street="ngxErrors">
                                <div class="error" ngxError="required">
                                    La Calle es requerida
                                </div>
                                <div class="error" [ngxError]="['minlength', 'maxlength']">
                                    La Calle debe estar entre 2 y 20 digitos
                                </div>
                            </div>

                            <label class="form-control-label">Numero</label>
                            <input type="text" name="number" [class.errors]="number.hasError('*', ['dirty'])" [attr.disabled]="!propertyGroup.controls.location.controls.street.valid?'':null" formControlName="number" (change)="positioningMap()" class="form-control" />
                            <div ngxErrors="location.number" #number="ngxErrors">
                                <div class="error" ngxError="required">
                                    El Numero es requerido
                                </div>
                                <div class="error" [ngxError]="['minlength', 'maxlength']">
                                    El Numero debe estar entre 2 y 10 digitos
                                </div>
                                <div class="error" ngxError="pattern">
                                    Solo deben ingresarse caracteres numericos
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <agm-map [zoom]="16" [latitude]="latitude" [longitude]="longitude">
                        <agm-marker [latitude]="latitude" [longitude]="longitude" [iconUrl]="'/images/marker.png'" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div *ngIf="propertyGroup" class="card-block" [formGroup]="propertyGroup">
            <div class="card-block" formGroupName="details">
                <h4 class="card-title">Detalle del Inmbueble</h4>

                <label [for]="capacity"> Capacidad <i [ngbPopover]="'Cuantas personas entran en el lugar?'" [popoverTitle]="Capacidad" class="fa fa-info-circle" aria-hidden="true"></i></label>
                <input type="text" formControlName="capacity" [id]="capacity" name="capacity" [class.errors]="capacity.hasError('*', ['dirty'])" class="form-control" />
                <div ngxErrors="details.capacity" #capacity="ngxErrors">
                    <div class="error" ngxError="pattern">
                        Solo deben ingresarse caracteres numericos
                    </div>
                </div>

                <label [for]="coveredarea"> Superficie cubierta</label>
                <input type="text" formControlName="coveredarea" [id]="coveredarea" class="form-control" />

                <label [for]="floor"> Piso</label>
                <input type="text" formControlName="floor" [id]="floor" class="form-control" />

                <label [for]="bathrooms"> Ba&ntilde;os</label>
                <input type="text" formControlName="bathrooms" [id]="bathrooms" class="form-control" />
            </div>
        </div>
    </div>
    <div class="card">
        <div *ngIf="propertyGroup" class="card-block" [formGroup]="propertyGroup">
            <div class="card-block" formGroupName="facilities">
                <h4 class="card-title">Con que comodidades cuenta?</h4>
                <div *ngFor="let f of facilitiesTypes" class="facility">
                    <ui-switch name="f.model" [formControlName]="f.model"></ui-switch>{{f.description}}
                </div>
            </div>
        </div>
    </div>