<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="btn-toolbar" role="toolbar" aria-label="Base Bar">
            <div class="btn-group mr-2" role="group" aria-label="Acciones principales sobre las citas">
                <button type="button" ngbTooltip="Guardar cita" (click)="saveAppointment()" class="btn btn-secondary"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-block" [formGroup]="appointmentGroup">
                <div class="form-group row">
                    <label for="inputDescription" class="col-sm-2 col-form-label col-form-label-sm">Raz&oacute;n de la reserva</label>
                    <div class="col-sm-10">
                        <input type="text" ngbTooltip="Este mensaje lo vera el cliente en el mail de aviso de turno." class="form-control form-control-sm" id="inputDescription" formControlName="description" aria-describedby="descriptionHelp" place-holder="Description" required>

                        <div ngxErrors="description">
                            <div class="error" ngxError="required" when="dirty">
                                La raz&oacute;n es requerida
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputContact" class="col-sm-2 col-form-label col-form-label-sm">Cliente</label>
                    <div class="col-sm-4">
                        <ng-template #rt let-r="result" let-t="term">
                            {{ r.firstName}} {{r.lastName}} - (DNI: {{ r.document }})
                        </ng-template>

                        <input id="inputContact" placeholder="Escriba el Nombre, Apellido o DNI" formControlName="contact" name="contact" type="text" class="form-control form-control-sm" [editable]="false" [inputFormatter]="formatterContact" [resultTemplate]="rt" [ngbTypeahead]="searchContact"
                        />

                        <div ngxErrors="client">
                            <div class="error" ngxError="required">
                                El cliente es requerido
                            </div>
                        </div>
                    </div>

                    <label for="inputParticipant" class="col-sm-2 col-form-label col-form-label-sm">Participante</label>
                    <div class="col-sm-4">
                        <ng-template #participantTemplate let-r="result" let-t="term">
                            {{ r.firstName}} {{r.lastName}} - (DNI: {{ r.document }})
                        </ng-template>

                        <input id="inputParticipant" placeholder="Escriba el Nombre, Apellido o DNI" formControlName="participant" name="participant" type="text" class="form-control form-control-sm" [editable]="false" [inputFormatter]="formatterParticipant" [resultTemplate]="participantTemplate"
                            [ngbTypeahead]="searchParticipant" />

                        <div ngxErrors="participant">
                            <div class="error" ngxError="required">
                                El participante es requerido
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputSubsidiary" class="col-sm-2 col-form-label col-form-label-sm">Sucursal</label>
                    <div class="col-sm-10">
                        <ss-multiselect-dropdown [texts]="selectTexts" [settings]="selectSettings" [options]="subsidiaryOptions" formControlName="subsidiary"></ss-multiselect-dropdown>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputstartDate" class="col-sm-2 col-form-label col-form-label-sm">Desde</label>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dpStart" formControlName="startDate" ngbDatepicker #dStart="ngbDatepicker">
                                <button class="input-group-addon" (click)="dStart.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                            <ngb-timepicker formControlName="startTime"></ngb-timepicker>
                        </div>
                    </div>

                    <label for="inputendDate" class="col-sm-2 col-form-label col-form-label-sm">Hasta</label>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dpEnd" formControlName="endDate" ngbDatepicker #dEnd="ngbDatepicker">
                                <button class="input-group-addon" (click)="dEnd.toggle()" type="button">
                                    <span class="fa fa-calendar"></span>
                                </button>
                            </div>
                            <ngb-timepicker formControlName="endTime"></ngb-timepicker>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>