<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" role="toolbar" aria-label="Barra de acciones">
            <div class="btn-group mr-2" role="group" aria-label="Acciones principales sobre las citas">
                <button type="button" ngbTooltip="Agregar cita" [routerLink]="['/admin/appointment/new']" class="btn btn-secondary"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></button>
                <button type="button" ngbTooltip="Agregar cita urgente" [routerLink]="['/admin/appointment/new']" class="btn btn-secondary"><i class="fa fa-ambulance" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <calendar #calendar (eventclick)="eventClick($event)" (appoinmentAdd)="addAppointment($event)" (eventtimechange)="eventTimesChanged($event)" [events]="events" day="true" week="true" month="true" default="day"></calendar>
        </div>
    </div>
</div>