<div class="modal-body">
    <div class="form-group">
        <label for="formReason">Raz&oacute;n de la reserva</label>
        <input type="text" class="form-control form-control-sm" id="formReason" aria-describedby="reasonHelp" place-holder="Titulo" required (change)="appointmentChange()" [(ngModel)]="appointment.description">
        <small id="reasonHelp" class="form-text text-muted">Este mensaje lo vera el cliente en el mail de aviso de turno.</small>

        <label for="formClient">Cliente</label>
        <ng-template #rt let-r="result" let-t="term">
            {{ r.firstName}} {{r.lastName}} - (DNI: {{ r.document }})
        </ng-template>
        <input id="inputPlace" name="contact" type="text" class="form-control" [editable]="false" [inputFormatter]="formatter" [resultTemplate]="rt" (selectItem)="appointmentChange($event)" [ngbTypeahead]="searchContact" [(ngModel)]="appointment.client" />

    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-6 cod-lg-6">
                <label for="formReason">Desde</label>
                <date-picker [(ngModel)]="appointment.startDate" [showClearButton]="false" (change)="appointmentChange()" mode="datetime" lang="es" format="DD/MM/YYYY HH:mm:ss" name="date"></date-picker>
            </div>
            <div class="col-md-6 cod-lg-6">
                <label for="formReason">Hasta</label>
                <date-picker [(ngModel)]="appointment.endDate" [showClearButton]="false" (change)="appointmentChange()" mode="datetime" lang="es" format="DD/MM/YYYY HH:mm:ss" name="date"></date-picker>
            </div>
        </div>
    </div>
</div>