<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="btn-toolbar" role="toolbar" aria-label="Barra de acciones">
            <div class="btn-group mr-2" role="group" aria-label="Acciones principales sobre las citas">
                <button type="button" ngbTooltip="Nuevo contacto" [routerLink]="['/phonebook/new']" class="btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Acciones principales sobre las citas">
                <button type="button" ngbTooltip="Importar contactos" (click)="importContact()" class="btn btn-secondary"><i class="fa fa-upload" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <p>Utilice el buscador para encontrar el contacto, Puede buscar por nombre, direccion, telefono.</p>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="inputSearch">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                            <input type="text" class="form-control" placeholder="Buscar" aria-describedby="inputSearch">
                            <span class="input-group-btn">
                                      <button class="btn btn-secondary" type="button">Buscar</button>
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-filter">
        <tbody>
            <tr *ngFor="let con of contacts" data-status="pagado">
                <td>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-secondary" id="dropdownoptions" ngbDropdownToggle><i class="fa fa-cog" aria-hidden="true"></i></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownoptions">
                            <button class="dropdown-item">Modificar</button>
                            <button class="dropdown-item">Borrar</button>
                            <hr />
                            <button class="dropdown-item"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> Crear cita</button>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="media">
                        <a href="#" class="pull-left">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                        </a>
                        <div class="media-body">
                            <span class="title">
                                {{con.firstName}} {{con.lastName}}

                                <p class="summary">
                                <span class="pull-right pagado"><a  href="tel:+5411{{con.contact.phone}}">Tel: {{con.contact.phone}}</a></span>
                            </p>
                            <p class="summary">
                                <span class="pull-right pagado"><a class="pull-right pagado" href="tel:+5411{{con.contact.cellPhone}}">Tel: {{con.contact.cellPhone}}</a></span>
                            </p>
                            </span>
                            <p class="summary"><a href="mailto:{{con.contact.email}}">{{con.contact.email}}</a> </p>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <div class="contact">
        <h3 class="card-header">
            <div class="profile-image">
                <img class="img-fluid rounded-circle" src="http://aqvatarius.com/themes/atlant/html/assets/images/users/user2.jpg" alt="Marcos Panichella">
            </div>
            <div class="profile-data">
                <div class="profile-data-name">
                    Marcos Panichella
                </div>
                <div class="profile-data-title">
                    Software Architect
                </div>
            </div>
        </h3>
        <div class="card-block">
            <p class="card-title"><b>Telefono</b></p>
            <p class="card-text">1559009183</p>
            <p class="card-title">Email</p>
            <p class="card-text">mpanichella@live.com</p>
            <p class="card-title">Direccion</p>
            <p class="card-text">Tucuman 2354</p>
        </div>
    </div> -->
</div>