<div class="card">
    <h3 class="card-header" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"><i class="fa fa-calendar" aria-hidden="true"></i> Pr&oacute;xima cita
        <div class="float-right">
            <button [routerLink]="['/appointment/new']" type="button" class="btn btn-outline-primary">Nuevo Turno</button>
            <button [routerLink]="['/phonebook/new']" type="button" class="btn btn-outline-success">Nuevo Paciente</button>
        </div>
    </h3>

    <div class="card-block">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p>09:00: Leonardo Ruggieri</p>
                <p>12:00: Marcos Panichella</p>
                <p>13:00: Jorge Ross</p>
            </div>
        </div>
    </div>
</div>