<div class="container-fluid">
    <div class="row d-flex d-md-block flex-nowrap wrapper">
        <div class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
            <div class="list-group border-0 card text-center text-md-left">
                <a [routerLink]="['dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-dashboard"></i> <span class="hidden-sm-down">Dashboard</span></a>
                <a [routerLink]="['phonebook/list']" [routerLinkActive]="['router-link-active']" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-users"></i> <span class="hidden-sm-down">Agenda</span></a>
                <a [routerLink]="['record/list']" [routerLinkActive]="['router-link-active']" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-folder"></i> <span class="hidden-sm-down">Fichas</span></a>
                <a [routerLink]="['appointment/list']" [routerLinkActive]="['router-link-active']" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-calendar"></i> <span class="hidden-sm-down">Calendario</span></a>
                <a [routerLink]="['stock/list']" [routerLinkActive]="['router-link-active']" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-shopping-basket"></i> <span class="hidden-sm-down">Stock</span></a>
                <a href="#billing" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dollar"></i> <span class="hidden-sm-down">Facturaci&oacute;n</span> </a>
                <div class="collapse" id="billing">
                    <a [routerLink]="['billing']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu2">Historial</a>
                    <a [routerLink]="['billing/paymentmethods']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu2">Medios de Pago</a>
                    <a *ngIf="hasRole('administrator')" [routerLink]="['billing/plans']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu2">Planes</a>
                    <a *ngIf="hasRole('administrator')" [routerLink]="['billing/suscriptions']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu2">Suscripciones</a>
                </div>

                <a href="#configuration" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-wrench"></i> <span class="hidden-sm-down">Configuraci&oacute;n</span> </a>
                <div class="collapse" id="configuration">
                    <a [routerLink]="['general']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu3">General</a>
                    <a [routerLink]="['alert']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu4">Alertas</a>
                    <a [routerLink]="['subsidiary']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu5">Sucursales</a>
                    <a [routerLink]="['terminal']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu6">Terminales</a>
                </div>
            </div>
        </div>
        <router-outlet class="col-md-9 col px-5 pl-md-2 pt-2 main"></router-outlet>
    </div>
</div>