@import "../../../_custom.scss";
li.highlight a {
    color: $gray-200 ! important;
}

i.news {
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.navbar-custom {
    background-color: $gray-900;
}


/* change the brand and text color */

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: $gray-100;
}


/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: $gray-400;
}


/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: $gray-100;
}