<div class="card">
    <div class="card-block" [formGroup]="configurationGroup">
        <h4 class="card-title">Configuraci&oacute;n de la publicaci&oacute;n</h4>
        <p>
            <ui-switch formControlName="showCalendar"></ui-switch> Mostrar calendario?
        </p>
        <p>
            <ui-switch formControlName="showContactInformation"></ui-switch> Mostrar datos de contacto?
        </p>
        <p>
            <small>Si muestra el calendario, el cliente podra realizar una reserva en el horario que vea disponible. De lo contrario debera confirmar siempre el turno solicitado.</small>
        </p>
    </div>
</div>