<edit-property *ngIf="whatType=='Property' && ckeditorLoaded" [publicationGroup]="formEdit"></edit-property>
<edit-service *ngIf="whatType=='Service'"></edit-service>
<!--
    Cuando esten desarrollando los dos descomentarlo
    <edit-entreteinment *ngIf="whatType==3"></edit-entreteinment>
<edit-others *ngIf="whatType==4"></edit-others>-->
<publication-price [priceGroup]="formEdit.controls.billing"></publication-price>
<publication-availability></publication-availability>
<publication-configuration [configurationGroup]="formEdit.controls.configuration"></publication-configuration>

<div>
    <button class="btn btn-danger" type="button">Cancelar</button>
    <button class="btn btn-primary pull-right" [disabled]="!changeDetected || !formEdit.valid" (click)="onSaveChanges()" type="button">Guardar cambios</button>
</div>