<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <form>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="button">YA SOY CLIENTE</button>
                
                <input type="text" value="" [ngx-virtual-keyboard]="true" [ngx-virtual-keyboard-layout]="documentLayout" [ngx-virtual-keyboard-disabled]="false" />
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="button">NO SOY CLIENTE</button>
                
                <input type="text" value="" [ngx-virtual-keyboard]="true" [ngx-virtual-keyboard-layout]="phoneLayout" [ngx-virtual-keyboard-disabled]="false" />
            </div>
        </form>
    </div>
</div>