<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <p>Utilice el buscador para encontrar el contacto, Puede buscar por nombre, direccion, telefono.</p>
                </div>
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                        <div class="input-group">
                            <span class="input-group-addon" id="inputSearch">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                            <input type="text" class="form-control" placeholder="Buscar" aria-describedby="inputSearch">
                            <span class="input-group-btn">
                                      <button class="btn btn-secondary" type="button">Buscar</button>
                                    </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <button class="btn btn-primary" type="button">Agregar nuevo contacto</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="contact">
        <h3 class="card-header">
            <div class="profile-image">
                <img class="img-fluid rounded-circle" src="http://aqvatarius.com/themes/atlant/html/assets/images/users/user2.jpg" alt="Marcos Panichella">
            </div>
            <div class="profile-data">
                <div class="profile-data-name">
                    Marcos Panichella
                </div>
                <div class="profile-data-title">
                    Software Architect
                </div>
            </div>
        </h3>
        <div class="card-block">
            <p class="card-title"><b>Telefono</b></p>
            <p class="card-text">1559009183</p>
            <p class="card-title">Email</p>
            <p class="card-text">mpanichella@live.com</p>
            <p class="card-title">Direccion</p>
            <p class="card-text">Tucuman 2354</p>
        </div>
    </div>
</div>