<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" (click)="changeReservation()" class="btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button type="button" (click)="changeReservation()" class="btn btn-secondary"><i class="fa fa-minus" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-secondary">3</button>
                <button type="button" class="btn btn-secondary">4</button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary">5</button>
                <button type="button" class="btn btn-secondary">6</button>
                <button type="button" class="btn btn-secondary">7</button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary">8</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codigo</th>
                    <th>Descripci&oacute;n</th>
                    <th>Precio</th>
                    <th>Precio de venta</th>
                    <th>Stock</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>ART1</td>
                    <td>Prueba</td>
                    <td>12</td>
                    <td>15</td>
                    <td>45</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>