<div class="row">
    <div class="col-md-12">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" ngbTooltip="Agregar producto" [routerLink]="['/admin/subsidiary/new']" class="btn btn-secondary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <button type="button" ngbTooltip="Eliminar producto" (click)="changeReservation()" class="btn btn-secondary"><i class="fa fa-minus" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <table class="table table-striped" [mfData]="subsidiarys" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
                <tr>
                    <th style="width: 20%">
                        <mfDefaultSorter by="status">#</mfDefaultSorter>
                    </th>
                    <th style="width: 20%">
                        <mfDefaultSorter by="code">Codigo</mfDefaultSorter>
                    </th>
                    <th style="width: 60%">
                        <mfDefaultSorter by="description">Descripcion</mfDefaultSorter>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of mf.data">
                    <td>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" />
                            <span class="custom-control-indicator"></span>
                        </label>
                    </td>
                    <td>{{item.code}}</td>
                    <td>{{item.description}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>