<top-nav></top-nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-1 p-l-0 p-r-0 in" id="sidebar">
            <div class="list-group panel">
                <a href="#menu1" class="list-group-item collapsed" [routerLink]="['dashboard']" [routerLinkActive]="['router-link-active']" data-parent="#sidebar"><i class="fa fa-dashboard"></i> <span class="d-none d-sm-inline">Dashboard</span></a>
                <a href="#menu2" class="list-group-item collapsed" [routerLink]="['phonebook']" [routerLinkActive]="['router-link-active']" data-parent="#sidebar"><i class="fa fa-book"></i> <span class="d-none d-sm-inline">Agenda</span></a>
                <a href="#menuEnvelope" class="list-group-item collapsed" [routerLink]="['message']" [routerLinkActive]="['router-link-active']" data-parent="#sidebar"><i class="fa fa-envelope"></i> <span class="d-none d-sm-inline">Correo</span></a>
                <a href="#menu3" class="list-group-item collapsed" [routerLink]="['appointment']" [routerLinkActive]="['router-link-active']" data-parent="#sidebar"><i class="fa fa-calendar"></i> <span class="d-none d-sm-inline">Calendario</span></a>
                <a href="#menu4" class="list-group-item collapsed" [routerLink]="['stock']" [routerLinkActive]="['router-link-active']" data-parent="#sidebar"><i class="fa fa-shopping-basket"></i> <span class="d-none d-sm-inline">Stock</span></a>
                <a href="#menu5" class="list-group-item collapsed" [routerLink]="['print']" [routerLinkActive]="['router-link-active']" data-parent="#sidebar"><i class="fa fa-print"></i> <span class="d-none d-sm-inline">Impresiones (Recetas)</span></a>
                <a href="#menu6" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-dollar"></i> <span class="d-none d-sm-inline">Facturaci&oacute;n</span></a>
                <div class="collapse" id="menu6">
                    <a [routerLink]="['billing']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu6">Historial</a>
                    <a [routerLink]="['billing/paymentmethods']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu6">Medios de Pago</a>
                    <a *ngIf="hasRole('administrator')" [routerLink]="['billing/plans']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu6">Planes</a>
                    <a *ngIf="hasRole('administrator')" [routerLink]="['billing/suscriptions']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu6">Suscripciones</a>
                </div>
                <a href="#menu7" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-wrench"></i> <span class="d-none d-sm-inline">Configuraci&oacute;n</span></a>
                <div class="collapse" id="menu7">
                    <a [routerLink]="['general']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu7">General</a>
                    <a [routerLink]="['alert']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu7">Alertas</a>
                    <a [routerLink]="['subsidiary/list']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu7">Sucursales</a>
                    <a [routerLink]="['terminal']" [routerLinkActive]="['router-link-active']" class="list-group-item" data-parent="#menu7">Terminales</a>
                </div>
                <a href="#menuChart" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-bar-chart-o"></i> <span class="d-none d-sm-inline">Estadisticas</span></a>
                <div class="collapse" id="menuChart">
                    <a class="list-group-item" data-parent="#menuChart">Encuestas</a>
                    <a class="list-group-item" data-parent="#menuChart">Clientes atendidos</a>
                </div>
            </div>
        </div>
        <main class="col-md-10 col-11 p-l-2 p-t-2">
            <!-- NO ME GUSTA COMO QUEDA <a href="#sidebar" data-toggle="collapse"><i class="fa fa-navicon fa-lg"></i></a> -->
            <hr>
            <mc-breadcrumbs></mc-breadcrumbs>
            <hr>
            <router-outlet></router-outlet>
        </main>
    </div>
</div>

<div id="container-floating">

    <div class="nd2 nds" data-toggle="tooltip" data-placement="left" data-original-title="Reminder">
        <p (click)="onContactUsClick()" class="letter"><i class="fa fa-comments-o" aria-hidden="true"></i></p>
    </div>
    <div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="Edoardo@live.it"><img class="reminder">
        <p (click)="onContactUsClick()" class="letter"><i class="fa fa-question" aria-hidden="true"></i></p>
    </div>

    <div class="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create">
        <p class="plus"><i class="fa fa-question" aria-hidden="true"></i></p>
        <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
    </div>

</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>

<ng-template ngbModalContainer #contactus let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Contactanos <small>Sentite libre de decirnos y preguntarnos lo que quieras</small></h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                Nombre</label>
                                <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-envelope-open-o"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Ingrese su email" required="required" /></div>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                Raz&oacute;n</label>
                                <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Elija una:</option>
                                <option value="service">Servicio al cliente</option>
                                <option value="suggestions">Sugerencia</option>
                                <option value="product">Soporte del producto</option>
                            </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                Mensaje</label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Mensaje"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <form>
                    <legend><span class="fa fa-globe"></span> Nuestra Oficina</legend>
                    <address>
                <strong>Tundide S.A.</strong><br>
                Tucuman 2354<br>
                General San Martin, CP 1650<br>
                <abbr title="Phone">
                    Tel:</abbr>
                (011) 4753-8271
            </address>
                    <address>
                <strong>Tundide</strong><br>
                <a href="mailto:#">support@tundide.com</a>
            </address>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="c(true)">Enviar Mensaje</button>
        <button type="button" class="btn btn-secondary" (click)="c(false)">Cancelar</button>
    </div>
</ng-template>